.modal-dialog-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .modal-content {
      .modal-header {
        display: flex;
        align-items: flex-start;
      }
    }
  }